h1 {
    font-size: 32px;
    color:   cadetblue;
    text-align: center;
}
ul{
    font-size: 29px;
}
body{
    background-color: rgba(171, 191, 194, 0.733);
}
main{
    background-color: #c9c9c9;
    width: 632px;
    margin: auto;
}